<div class="container">
  <h1>Editing Category</h1>
  <% if current_user.nil? %>
    <% controller.redirect_to category_path(@category) %>
  <% else %>
  <%= render 'form', category: @category %>
  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', categories_path %>
  <% end %>
</div>
